
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AnaSayfa</title>
    <link href="~/Content/Style.css" rel="stylesheet" />
</head>

<body>

    <!--Başlık-->
    <header>
        <h1 style="text-align:center">Müzik Dükkanım</h1>
        <a href="/web/Anasayfa">Ana Sayfa</a>
        <a href="/web/Hakkimizda">Hakkımızda</a>
        <a href="/web/Urunler">Ürünler</a>
    </header>
    <!--İçerikler-->
    <section>
        <article>
            <p>
                Müzik Dükkanı Sitesine Hoşgeldiniz. Bu Sitede Çeşitli Müzik Aletleri Bulabilirsiniz.
                Uyhun Fiyatlarımız Ve Kaliteli Ürünlerimiz İçin <a href="/web/Urunler/"> Ürünlerimiz</a>  Sayfasını Ziyaret Edebilirsiniz.
            </p>
        </article>
        <article>
            <h2>Sitemizdeki Bulunan Müzik Aletleri</h2>
            <ul>
                <li>Gitar</li>
                <li>Davul</li>
                <li>Piyano</li>
                <li>Keman</li>
            </ul>
        </article>
    </section>




</body>
</html>
