
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ürünler</title>
    <link href="~/Content/Style.css" rel="stylesheet" />
</head>
<body>
    <header>
        <h1 style="text-align:center">Müzik Dükkanım</h1>
        <a href="/web/Anasayfa">Ana Sayfa</a>
        <a href="/web/Hakkimizda">Hakkımızda</a>
        <a href="/web/Urunler">Ürünler</a>
        <h2>Ürünlerimiz</h2>
    </header>
    <section>
        <article>
            <ol>
                <li><img src="https://cdn.dsmcdn.com/ty51/product/media/images/20210112/8/51885294/62532477/1/1_org.jpg" alt="Gitar1" /></li>
                <p>SX Stratocaster Elektro Gitar <strong>6250₺</strong></p>
                <li><img src="https://cdn.dsmcdn.com/ty2/product/media/images/20200331/18/822614/67209302/1/1_org_zoom.jpg" alt="Gitar2" /></li>
                <p>FENDER Custom Shop Rory Gallagher Stratocaster-elektro Gitar <strong>172.000₺</strong></p>
                <li><img src="https://www.do-re.com.tr/gretsch-cm1-e826p-bs-cat-maple-7-parca-22-akustik-davul-deep-cherry-burst-a27424b0aac967496826c3c2ab0ee759-d559273a5066a7e45bf43f66217b19da-max-pp.jpg" alt="Davul1" /></li>
                <p>Gretsch CM1-E826P-BS Cat Maple 7 Parça 22" Akustik Davul <strong>52.190₺</strong></p>
                <li><img src="https://www.do-re.com.tr/pdp-drums-concept-akcaagac-7-parca-22-akustik-davul-satin-seafoam-691984eaf4f0de2183ee62f19da0c7f5-b2fcc1460a6b1ebd0046ff927d1a77db-max-pp.jpg" alt="Davul2" /></li>
                <p>Çocuk Davulu 30 cm Askılı Ağaç Kasnak Keçi Derisi <strong>239,99₺</strong></p>
                <li><img src="https://www.do-re.com.tr/donner-ddp-200-dijital-piyano-kahverengi-b7cf7ef442c7649bc088a6bcdfd9e066-6220a8b76a24714b9c7f3b0271d76641-mid-pp.jpg" alt="piyano" /></li>
                <p>Donner DDP-200 Dijital Piyano <strong>25.726₺</strong></p>
                <li><img src="https://www.do-re.com.tr/stentor-1864-a-verona-keman-4-4-a02bbb99f6cb1b245f31a79253457387-29c9ec40d57cc134bbcda93bd6bc9729-large-pp.jpg" alt="Keman" /></li>
                <p>Stentor 1864/A Verona Keman <strong>21.440₺</strong></p>
            </ol>
        </article>
    </section>
</body>
</html>
