body {
    align-items: center;
}

.container {

    width: 250px;
    height: 50px;
    margin: 250px auto 50px;
    
    
}

.box1 {   
        float: center;
        text-align: center;
        margin:auto;
}

.box2 {
    width: 600px;
    height: 100px;
    float: left;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 7px;
    background-color:aqua;
    text-align: center;
}
.box3 {
    width: 600px;
    height: 90px;
    float: left;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 7px;
    background-color:rgb(9, 185, 185);
    text-align: center;
    padding-top: 10px;
}
.box4 {
    width:690px;
    height: 90px;
    float: left;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;

    background-color:rgb(9, 185, 185);
    text-align: center;
    padding-top: 10px;
}


.bg-grey {
    background-color:rgba(206, 206, 206, 0.671);
}

.text {
    margin-bottom: 0px;

}
 

 